<div class="page-header">
  <h3 class="page-title">
    Top 10 sản phẩm có doanh số cao nhất
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Lẫu bò</h4>
        <p class="card-description text-danger">Top 1</p>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-primary badge-pill" style="width: 100px; text-align: center;">Hình ảnh :</div></td>
                <td class="text-center"><img src="assets/images/faces/hinhthe.jpg" class="mr-2" alt="image"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-success badge-pill" style="width: 100px; text-align: center;">Số lần được gọi :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-success" style="width: 80px; text-align: center;">1000 lần</div></td>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-danger badge-pill" style="width: 100px; text-align: center;">Doanh số :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-danger" style="width: 80px; text-align: center;">400$</div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Lẫu bò</h4>
        <p class="card-description text-danger">Top 1</p>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-primary badge-pill" style="width: 100px; text-align: center;">Hình ảnh :</div></td>
                <td class="text-center"><img src="assets/images/faces/hinhthe.jpg" class="mr-2" alt="image"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-success badge-pill" style="width: 100px; text-align: center;">Số lần được gọi :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-success" style="width: 80px; text-align: center;">1000 lần</div></td>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-danger badge-pill" style="width: 100px; text-align: center;">Doanh số :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-danger" style="width: 80px; text-align: center;">400$</div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Lẫu bò</h4>
        <p class="card-description text-danger">Top 1</p>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-primary badge-pill" style="width: 100px; text-align: center;">Hình ảnh :</div></td>
                <td class="text-center"><img src="assets/images/faces/hinhthe.jpg" class="mr-2" alt="image"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-success badge-pill" style="width: 100px; text-align: center;">Số lần được gọi :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-success" style="width: 80px; text-align: center;">1000 lần</div></td>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-danger badge-pill" style="width: 100px; text-align: center;">Doanh số :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-danger" style="width: 80px; text-align: center;">400$</div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Lẫu bò</h4>
        <p class="card-description text-danger">Top 1</p>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-primary badge-pill" style="width: 100px; text-align: center;">Hình ảnh :</div></td>
                <td class="text-center"><img src="assets/images/faces/hinhthe.jpg" class="mr-2" alt="image"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-success badge-pill" style="width: 100px; text-align: center;">Số lần được gọi :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-success" style="width: 80px; text-align: center;">1000 lần</div></td>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-danger badge-pill" style="width: 100px; text-align: center;">Doanh số :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-danger" style="width: 80px; text-align: center;">400$</div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Lẫu bò</h4>
        <p class="card-description text-danger">Top 1</p>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-primary badge-pill" style="width: 100px; text-align: center;">Hình ảnh :</div></td>
                <td class="text-center"><img src="assets/images/faces/hinhthe.jpg" class="mr-2" alt="image"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-success badge-pill" style="width: 100px; text-align: center;">Số lần được gọi :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-success" style="width: 80px; text-align: center;">1000 lần</div></td>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-danger badge-pill" style="width: 100px; text-align: center;">Doanh số :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-danger" style="width: 80px; text-align: center;">400$</div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Lẫu bò</h4>
        <p class="card-description text-danger">Top 1</p>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-primary badge-pill" style="width: 100px; text-align: center;">Hình ảnh :</div></td>
                <td class="text-center"><img src="assets/images/faces/hinhthe.jpg" class="mr-2" alt="image"></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-success badge-pill" style="width: 100px; text-align: center;">Số lần được gọi :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-success" style="width: 80px; text-align: center;">1000 lần</div></td>
              <tr>
                <td class="pl-0"><div class="badge badge-outline-danger badge-pill" style="width: 100px; text-align: center;">Doanh số :</div></td>
                <td class="pr-0 text-center"><div class="badge badge-outline-danger" style="width: 80px; text-align: center;">400$</div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
