<div class="page-header">
  <h3 class="page-title">
    Quản lý bàn nhậu
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <button type="button" class="btn bg-success" data-toggle="modal" data-target="#add" (click)="showmodal(0)"><i
          class="fas fa-plus" disabled></i>Thêm bàn nhậu</button>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Danh sách bàn</h4>
        <div class="table-responsive">
          <table class="table table-striped" style="text-align: center;">
            <thead>
              <tr>
                <th>
                      <input type="checkbox" aria-label="Checkbox for following text input">
                </th>
                <th>Mã bàn nhậu</th>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Tình trạng</th>
                <!-- <th>Thao tác</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of table,

              ">
                <td>
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </td>
                <td>
                  {{row.id}}
                </td>
                <td>
                  {{row.epl_Id}}
                </td>
                <td>
                  {{row.employee.lastName}} {{row.employee.firstName}}
                </td>
                <td>
                  <div *ngIf="row.tab_Status == false;">Không có khách</div>
                  <div *ngIf="row.tab_Status == true;">Có khách</div>
                </td>
                <!-- <td>
                  <button type="button" class="btn btn-link" (click)="showmodal(row.id)"><i class="far fa-edit text-success"></i></button>
                  <button type="button" class="btn btn-link" (click)="showAlertmodal(row.id)"><i class="fas fa-trash-alt text-danger"></i></button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal add , edit employee -->
<!-- <div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{action}} Nhân viên </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hidemodal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row pt-4">
          <label for="txtid" class="col-4 col-form-label repuire text-dark" style="text-align: left;"><strong>
              Mã bàn nhậu</strong></label>
          <div class="col-8">
            <input [type]="aTable.id == 0 ? '' : 'readonly' " type="text" class="form-control" id="txtid" [(ngModel)]="aTable.id" name="txtid">
          </div>
        </div>
        <div class="form-group row pb-2">
          <label for="txtfirstName" class="col-4 col-form-label repuire text-dark"
            style="text-align: left;"><strong>Mã nhân viên</strong></label>
          <div class="col-8">
            <input type="text" class="form-control" id="txtfirstName" [(ngModel)]="aTable.epl_Id"
              name="txtfirstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="Gioitinh" class="col-4 col-form-label repuire" style="text-align: left;"><strong>Tình trạng
          </strong></label>
          <div class="col-8 mt-2" style="text-align: left;">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline3" name="customRadioInline2" class="custom-control-input"
                [(ngModel)]="aTable.tab_Status" [value]="false">
              <label class="custom-control-label" for="customRadioInline3">Không có khách</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input"
                [(ngModel)]="aTable.tab_Status" [value]="true">
              <label class="custom-control-label" for="customRadioInline4">Có khách</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hidemodal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div> -->

<!--Modal delete employee-->
<!-- <div class="modal fade" bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{action}} Nhân viên </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideAlertModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row pt-4">
          <label for="txtid" class="col col-form-label repuire text-dark" style="text-align: left;"><strong>
              Bạn có muốn xóa nhân viên</strong></label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)='saveDelete()'>Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideAlertModal()">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div> -->
