.width-190 {
    width: 190px;
    i {
        margin-left: 5px;
    }
}
.title {
    padding: 10px 20px;
    background-color: #fed713;
    color: #ffffff;
}
.select {
    padding: 0px;
    height: 37px;
    width: 36px;
    border: none;
}