.img-responsive {
    width: 100%;
}
.width-400 {
    max-width: 400px;
}
.image-resize {
    img {
        height: 211px;
    }
}
.bg-aqua {
    background-color: aqua;
}
.width-800 {
    position: fixed;
    width: 800px;
    top: 170px;
    z-index: 10;
}