USE [master]
GO
/****** Object:  Database [QuanLyNhaHang]    Script Date: 7/31/2020 10:26:33 AM ******/
CREATE DATABASE [QuanLyNhaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyNhaHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyNhaHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHang]
GO
/****** Object:  Table [dbo].[DETAILEXPORTORDERS]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILEXPORTORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXP_ID] [int] NOT NULL,
	[FOO_ID] [int] NOT NULL,
	[DEEXP_QUANTITY] [float] NULL,
	[DEEXP_STATUS] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAILFOODS]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILFOODS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRO_ID] [int] NOT NULL,
	[FOO_ID] [int] NOT NULL,
	[DEFOO_QUANTITY] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAILIMPORTORDERS]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILIMPORTORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRO_ID] [int] NOT NULL,
	[IMP_ID] [int] NOT NULL,
	[DEIMP_QUANTITY] [float] NULL,
	[DEIMP_PRICE] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EPL_FIRSTNAME] [nvarchar](100) NULL,
	[EPL_LASTNAME] [nvarchar](100) NULL,
	[EPL_POSITION] [nvarchar](100) NOT NULL,
	[EPL_PHONE] [char](10) NULL,
	[EPL_GENDER] [bit] NOT NULL,
	[EPL_STATUS] [bit] NULL,
	[EPL_WORKING] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPORTORDERS]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPORTORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EPL_ID] [int] NOT NULL,
	[TAB_ID] [int] NOT NULL,
	[EXP_DISCOUNT] [float] NULL,
	[EXP_DATE] [datetime] NOT NULL,
	[EXP_STATUS] [int] NULL,
	[TOTAL] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOODS]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOODS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FOO_ID] [nvarchar](50) NOT NULL,
	[EPL_ID] [int] NOT NULL,
	[TY_ID] [int] NOT NULL,
	[FOO_NAME] [nvarchar](100) NULL,
	[FOO_PRICE] [float] NOT NULL,
	[FOO_STATUS] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPORTORDERS]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORTORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EPL_ID] [int] NOT NULL,
	[SUP_ID] [int] NOT NULL,
	[IMP_DATE] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRO_NAME] [nvarchar](100) NULL,
	[PRO_PRICE] [float] NULL,
	[PRO_QUANTITY] [float] NULL,
	[PRO_UNIT] [nvarchar](10) NULL,
	[PRO_TYPE] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUP_NAMESUPPLIER] [nvarchar](100) NULL,
	[SUP_ADDRESS] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLES]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EPL_ID] [int] NULL,
	[TAB_STATUS] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPES]    Script Date: 7/31/2020 10:26:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TY_NAME] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DETAILEXPORTORDERS] ON 

INSERT [dbo].[DETAILEXPORTORDERS] ([ID], [EXP_ID], [FOO_ID], [DEEXP_QUANTITY], [DEEXP_STATUS]) VALUES (2, 1, 1, 2, 1)
INSERT [dbo].[DETAILEXPORTORDERS] ([ID], [EXP_ID], [FOO_ID], [DEEXP_QUANTITY], [DEEXP_STATUS]) VALUES (4, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[DETAILEXPORTORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[DETAILFOODS] ON 

INSERT [dbo].[DETAILFOODS] ([ID], [PRO_ID], [FOO_ID], [DEFOO_QUANTITY]) VALUES (1, 1, 1, 1)
INSERT [dbo].[DETAILFOODS] ([ID], [PRO_ID], [FOO_ID], [DEFOO_QUANTITY]) VALUES (2, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[DETAILFOODS] OFF
GO
SET IDENTITY_INSERT [dbo].[DETAILIMPORTORDERS] ON 

INSERT [dbo].[DETAILIMPORTORDERS] ([ID], [PRO_ID], [IMP_ID], [DEIMP_QUANTITY], [DEIMP_PRICE]) VALUES (2, 1, 1, 20, 500000)
INSERT [dbo].[DETAILIMPORTORDERS] ([ID], [PRO_ID], [IMP_ID], [DEIMP_QUANTITY], [DEIMP_PRICE]) VALUES (5, 1, 1, 30, 500000)
SET IDENTITY_INSERT [dbo].[DETAILIMPORTORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEES] ON 

INSERT [dbo].[EMPLOYEES] ([ID], [EPL_FIRSTNAME], [EPL_LASTNAME], [EPL_POSITION], [EPL_PHONE], [EPL_GENDER], [EPL_STATUS], [EPL_WORKING]) VALUES (1, N'Huỳnh', N'Trần', N'Hốt rác', N'0352014241', 0, 0, 1)
INSERT [dbo].[EMPLOYEES] ([ID], [EPL_FIRSTNAME], [EPL_LASTNAME], [EPL_POSITION], [EPL_PHONE], [EPL_GENDER], [EPL_STATUS], [EPL_WORKING]) VALUES (2, N'Hiệp', N'Đặng', N'Quản lý', N'0979294862', 0, 0, 1)
INSERT [dbo].[EMPLOYEES] ([ID], [EPL_FIRSTNAME], [EPL_LASTNAME], [EPL_POSITION], [EPL_PHONE], [EPL_GENDER], [EPL_STATUS], [EPL_WORKING]) VALUES (3, N'Đường', N'Hải', N'Nhân Viên', N'0986266666', 1, 0, 0)
SET IDENTITY_INSERT [dbo].[EMPLOYEES] OFF
GO
SET IDENTITY_INSERT [dbo].[EXPORTORDERS] ON 

INSERT [dbo].[EXPORTORDERS] ([ID], [EPL_ID], [TAB_ID], [EXP_DISCOUNT], [EXP_DATE], [EXP_STATUS], [TOTAL]) VALUES (1, 1, 1, 20000, CAST(N'2020-07-31T00:00:00.000' AS DateTime), 1, 500000)
INSERT [dbo].[EXPORTORDERS] ([ID], [EPL_ID], [TAB_ID], [EXP_DISCOUNT], [EXP_DATE], [EXP_STATUS], [TOTAL]) VALUES (7, 1, 1, 20000, CAST(N'2020-06-04T00:00:00.000' AS DateTime), 0, 500000)
INSERT [dbo].[EXPORTORDERS] ([ID], [EPL_ID], [TAB_ID], [EXP_DISCOUNT], [EXP_DATE], [EXP_STATUS], [TOTAL]) VALUES (8, 1, 1, 20000, CAST(N'2020-06-26T00:00:00.000' AS DateTime), 0, 500000)
SET IDENTITY_INSERT [dbo].[EXPORTORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[FOODS] ON 

INSERT [dbo].[FOODS] ([ID], [FOO_ID], [EPL_ID], [TY_ID], [FOO_NAME], [FOO_PRICE], [FOO_STATUS]) VALUES (1, N'LA001', 1, 1, N'Lẩu bò', 50000, 1)
INSERT [dbo].[FOODS] ([ID], [FOO_ID], [EPL_ID], [TY_ID], [FOO_NAME], [FOO_PRICE], [FOO_STATUS]) VALUES (7, N'ca001 ', 2, 6, N'Canh khổ qua chay', 150000, 0)
INSERT [dbo].[FOODS] ([ID], [FOO_ID], [EPL_ID], [TY_ID], [FOO_NAME], [FOO_PRICE], [FOO_STATUS]) VALUES (8, N'ca002     ', 4, 6, N'Canh rau củ chay ngọt', 350000, 1)
SET IDENTITY_INSERT [dbo].[FOODS] OFF
GO
SET IDENTITY_INSERT [dbo].[IMPORTORDERS] ON 

INSERT [dbo].[IMPORTORDERS] ([ID], [EPL_ID], [SUP_ID], [IMP_DATE]) VALUES (1, 1, 1, CAST(N'2020-06-24' AS Date))
INSERT [dbo].[IMPORTORDERS] ([ID], [EPL_ID], [SUP_ID], [IMP_DATE]) VALUES (2, 1, 1, CAST(N'2020-06-26' AS Date))
SET IDENTITY_INSERT [dbo].[IMPORTORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([ID], [PRO_NAME], [PRO_PRICE], [PRO_QUANTITY], [PRO_UNIT], [PRO_TYPE]) VALUES (1, N'Thịt heo', 11111, 500, N'KG', 1)
INSERT [dbo].[PRODUCTS] ([ID], [PRO_NAME], [PRO_PRICE], [PRO_QUANTITY], [PRO_UNIT], [PRO_TYPE]) VALUES (2, N'Thịt bò Mỹ', 500000, 50, N'KG', 1)
INSERT [dbo].[PRODUCTS] ([ID], [PRO_NAME], [PRO_PRICE], [PRO_QUANTITY], [PRO_UNIT], [PRO_TYPE]) VALUES (3, N'Rau xà lách', 20000, 10, N'KG', 1)
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPLIERS] ON 

INSERT [dbo].[SUPPLIERS] ([ID], [SUP_NAMESUPPLIER], [SUP_ADDRESS]) VALUES (1, N'Bia Sài Gòn', N'22 Quang Trung')
INSERT [dbo].[SUPPLIERS] ([ID], [SUP_NAMESUPPLIER], [SUP_ADDRESS]) VALUES (3, N'Bia Hà Nội', N'23 Phố Tràng Tiền')
SET IDENTITY_INSERT [dbo].[SUPPLIERS] OFF
GO
SET IDENTITY_INSERT [dbo].[TABLES] ON 

INSERT [dbo].[TABLES] ([ID], [EPL_ID], [TAB_STATUS]) VALUES (1, 2, 1)
INSERT [dbo].[TABLES] ([ID], [EPL_ID], [TAB_STATUS]) VALUES (2, 2, 1)
INSERT [dbo].[TABLES] ([ID], [EPL_ID], [TAB_STATUS]) VALUES (5, 1, 0)
SET IDENTITY_INSERT [dbo].[TABLES] OFF
GO
SET IDENTITY_INSERT [dbo].[TYPES] ON 

INSERT [dbo].[TYPES] ([ID], [TY_NAME]) VALUES (1, N'Lẫu')
INSERT [dbo].[TYPES] ([ID], [TY_NAME]) VALUES (2, N'Xào')
INSERT [dbo].[TYPES] ([ID], [TY_NAME]) VALUES (3, N'Chiên')
SET IDENTITY_INSERT [dbo].[TYPES] OFF
GO
/****** Object:  Index [PK_DETAILEXPORTORDERS]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[DETAILEXPORTORDERS] ADD  CONSTRAINT [PK_DETAILEXPORTORDERS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DETAILFOODS]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[DETAILFOODS] ADD  CONSTRAINT [PK_DETAILFOODS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DETAILIMPORTORDERS]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[DETAILIMPORTORDERS] ADD  CONSTRAINT [PK_DETAILIMPORTORDERS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EMPLOYEES]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[EMPLOYEES] ADD  CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_EXPORTORDERS]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[EXPORTORDERS] ADD  CONSTRAINT [PK_EXPORTORDERS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FOODS]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[FOODS] ADD  CONSTRAINT [PK_FOODS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_IMPORTORDERS]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[IMPORTORDERS] ADD  CONSTRAINT [PK_IMPORTORDERS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PRODUCTS]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[PRODUCTS] ADD  CONSTRAINT [PK_PRODUCTS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SUPPLIERS]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[SUPPLIERS] ADD  CONSTRAINT [PK_SUPPLIERS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TABLES]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[TABLES] ADD  CONSTRAINT [PK_TABLES] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TYPES]    Script Date: 7/31/2020 10:26:34 AM ******/
ALTER TABLE [dbo].[TYPES] ADD  CONSTRAINT [PK_TYPES] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETAILEXPORTORDERS]  WITH CHECK ADD  CONSTRAINT [FK_DETAILEXPORTORDERS_EXPORTORDERS] FOREIGN KEY([EXP_ID])
REFERENCES [dbo].[EXPORTORDERS] ([ID])
GO
ALTER TABLE [dbo].[DETAILEXPORTORDERS] CHECK CONSTRAINT [FK_DETAILEXPORTORDERS_EXPORTORDERS]
GO
ALTER TABLE [dbo].[DETAILEXPORTORDERS]  WITH CHECK ADD  CONSTRAINT [FK_DETAILEXPORTORDERS_FOODS] FOREIGN KEY([FOO_ID])
REFERENCES [dbo].[FOODS] ([ID])
GO
ALTER TABLE [dbo].[DETAILEXPORTORDERS] CHECK CONSTRAINT [FK_DETAILEXPORTORDERS_FOODS]
GO
ALTER TABLE [dbo].[DETAILFOODS]  WITH CHECK ADD  CONSTRAINT [FK_DETAILFOODS_FOODS] FOREIGN KEY([FOO_ID])
REFERENCES [dbo].[FOODS] ([ID])
GO
ALTER TABLE [dbo].[DETAILFOODS] CHECK CONSTRAINT [FK_DETAILFOODS_FOODS]
GO
ALTER TABLE [dbo].[DETAILFOODS]  WITH CHECK ADD  CONSTRAINT [FK_DETAILFOODS_PRODUCTS] FOREIGN KEY([PRO_ID])
REFERENCES [dbo].[PRODUCTS] ([ID])
GO
ALTER TABLE [dbo].[DETAILFOODS] CHECK CONSTRAINT [FK_DETAILFOODS_PRODUCTS]
GO
ALTER TABLE [dbo].[DETAILIMPORTORDERS]  WITH CHECK ADD  CONSTRAINT [FK_DETAILIMPORTORDERS_IMPORTORDERS] FOREIGN KEY([IMP_ID])
REFERENCES [dbo].[IMPORTORDERS] ([ID])
GO
ALTER TABLE [dbo].[DETAILIMPORTORDERS] CHECK CONSTRAINT [FK_DETAILIMPORTORDERS_IMPORTORDERS]
GO
ALTER TABLE [dbo].[DETAILIMPORTORDERS]  WITH CHECK ADD  CONSTRAINT [FK_DETAILIMPORTORDERS_PRODUCTS] FOREIGN KEY([PRO_ID])
REFERENCES [dbo].[PRODUCTS] ([ID])
GO
ALTER TABLE [dbo].[DETAILIMPORTORDERS] CHECK CONSTRAINT [FK_DETAILIMPORTORDERS_PRODUCTS]
GO
ALTER TABLE [dbo].[EXPORTORDERS]  WITH CHECK ADD  CONSTRAINT [FK_EXPORTORDERS_EMPLOYEES] FOREIGN KEY([EPL_ID])
REFERENCES [dbo].[EMPLOYEES] ([ID])
GO
ALTER TABLE [dbo].[EXPORTORDERS] CHECK CONSTRAINT [FK_EXPORTORDERS_EMPLOYEES]
GO
ALTER TABLE [dbo].[EXPORTORDERS]  WITH CHECK ADD  CONSTRAINT [FK_EXPORTORDERS_TABLES] FOREIGN KEY([TAB_ID])
REFERENCES [dbo].[TABLES] ([ID])
GO
ALTER TABLE [dbo].[EXPORTORDERS] CHECK CONSTRAINT [FK_EXPORTORDERS_TABLES]
GO
ALTER TABLE [dbo].[FOODS]  WITH CHECK ADD  CONSTRAINT [FK_FOODS_TYPES] FOREIGN KEY([TY_ID])
REFERENCES [dbo].[TYPES] ([ID])
GO
ALTER TABLE [dbo].[FOODS] CHECK CONSTRAINT [FK_FOODS_TYPES]
GO
ALTER TABLE [dbo].[IMPORTORDERS]  WITH CHECK ADD  CONSTRAINT [FK_IMPORTORDERS_SUPPLIERS] FOREIGN KEY([SUP_ID])
REFERENCES [dbo].[SUPPLIERS] ([ID])
GO
ALTER TABLE [dbo].[IMPORTORDERS] CHECK CONSTRAINT [FK_IMPORTORDERS_SUPPLIERS]
GO
USE [master]
GO
